<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
		<h1  style="height: 100vh; margin-top: 50vh; text-align: center;">Futuro Api Explorer</h1>

</body>	
</html>